# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Enviorment
venv/
env/
ENV/
.venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Log- and Temp Data
*.log
*.tmp
*.temp

# VSCode Settings (optional)
.vscode/

# PyCharm Settings (optional)
.idea/

# Data for Build/Distribution
build/
dist/
*.egg-info/

# Data and Picture-Data 
*.tif
*.tiff
*.png
*.jpg
*.jpeg

# MacOS hidden data (optional)
.DS_Store