# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebung
venv/
env/
ENV/
.venv/

# Jupyter Notebook Checkpoints (falls du welche benutzt)
.ipynb_checkpoints/

# Log- und Temporäre Dateien
*.log
*.tmp
*.temp

# VSCode Einstellungen (optional)
.vscode/

# PyCharm Einstellungen (optional)
.idea/

# Dateien für Build/Distribution
build/
dist/
*.egg-info/

# Daten- und Bilddateien (je nach Projekt eventuell ausnehmen)
*.tif
*.tiff
*.png
*.jpg
*.jpeg

# MacOS versteckte Dateien (optional)
.DS_Store